html {
    font-family: poppins;
    scroll-behavior: smooth;
}

body {
    background: url(../imagens/background.png);
    background-size: 120% 120%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: 210px;
    padding-bottom: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
    z-index: 1;
}

.up_side {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 250px;
    width: 1400px;
    height: 210px;
    border-radius: 20px;
}

.dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8A2BE1;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #9531f4;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    position: relative;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

button[id="botao_emergencia"]{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    font-size: 8px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.logo_slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 110px;
    border-radius: 20px;
}

.logo_slogan a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 70px;
}
.logo_slogan h1 {
    border-radius: 10px;
    color: rgb(7, 0, 145);
    font-size: 70px;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slogan {
    color: rgb(7, 0, 145);
    text-decoration: none;
    height: 9px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
}

.slogan h3 {
    font-size: 20px;
    border-radius:5px;
    width: 355px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.user img{
    color: #cdcccf;
    background-color: whitesmoke;
    width: 70px;
    height: 70px;
    border:#cdcccf 4px solid;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
    
}

.user button {
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    background-color: #8A2BE1;
}


button {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

main {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1400px;
    border-radius: 20px;
    height: 680px;
}

.avaliacao-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
}

.avaliacao-header a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #8A2BE1;
    right: 520px;
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
}

.avaliacao-header button{
    color: white;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    filter: none;
}

.avaliacao-header button:hover {
    transform: scale(1);
}

.avaliacao-header p{
    font-size: 27px;
}

.avaliacao-header a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.avaliacao-header a:active {
    transform: scale(0.9);
}

.avaliacao-header a {
    text-decoration: none;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0px;
}

.avaliacao h1 {
    color: rgb(7, 0, 145);
    font-size: 50px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avaliacao-dados {
    display: flex;
    flex-direction: row;
    background-color: #8A2BE1;
    width: 1400px;
    height: 480px;
    justify-content: center;
    gap: 170px;
    color: white;
}

.profissional-dados img {
    background-color: whitesmoke;
    width: 150px;
    height: 150px;
    border:rgba(0, 0, 0, 0.8) solid 4px;
    border-radius: 20px;
}

.profissional-dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 480px;
}

.aval_coment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-block;
}

.rating input {
    display: none;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: end;
}

.rating label {
    display: block;
    font-size: 5em;
    color: yellow;
    cursor: pointer;
    height: 90px;
}

.rating input:checked ~ label,
.rating input:hover ~ label {
    color: #f5b301;
    transform: scale(1);
}

.rating input:checked + label:hover,
.rating input:checked + label:hover ~ label,
.rating input:hover ~ label:hover,
.rating input:hover ~ label:hover ~ label {
    color: #ffcc00;
    transform: scale(1.1);
}

.comentario {
    background-color: #8A2BE1;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 200px;
}

.comentario h3 {
    font-size: 25px;
    margin: 0px;
    padding: 10px;
}

textarea {
    width: 550px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.fast-coments {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fast-coments h3 {
    font-size: 25px;
    margin: 0px;
    padding: 10px;
}

.fast-coments-1, .fast-coments-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"]:checked + label {
    background-color:rgb(255, 60, 60);
    color:rgb(255, 255, 255);
}

.fast-coments label{
    background-color: #f7f7f7;
    color: black;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.fast-coments label:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8A2BE1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 18px;
    padding: 10px;
}

.submit a {
    text-decoration: none;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdfe1;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    font-family: poppins;
    width: 200px;
    height: 50px;
}