@charset "UTF-8";
body{
    background-image: linear-gradient(to right, rgb(245, 118, 118), rgb(255, 0, 0));

}
#principal{
    text-align: center;
    font-size: 32px;
    font-family: monospace;
    font-style: italic;
}

p{
    font: italic normal 16px arial;
    text-decoration: underline;
}
.basico {
    background-color: rgba(165, 42, 42, 0.459);
    text-align: right;
}

.intermediario{
    background-color: rgba(210, 105, 30, 0.493);
}