@charset "utf-8";


@font-face {
    font-family: Work ;
    src: url(fontes/homeworks/Homeworks.otf) format('opentype');
    font-weight:normal ;
}
@font-face {
    font-family: Karma ;
    src: url(fontes/karma_2/Karma\ Suture.otf) format('opentype');
    font-weight:normal ;
}
@font-face {
    font-family: titulo ;
    src: url(fontes/pitch_display/Pitch\ Display\ Regular\ Demo.ttf) format('opentype');
    font-weight:normal ;}

:root{
    --font-work: 'work'
   
}
:root{
    --font-karma: 'karma'
   
}
:root{
    --font-titulo: 'Titulo'
}

#redes img{
    width: 35px;
    height: 35px;
    border-radius: 40%;
    text-align: right;


}


#primeira{
    margin-left: 20px;
}

#redes img:hover{
    transform: translate(-3px, -3px);
    transition-duration: .3s;
    border: solid 2px white;

}



body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
    color: #333;
}


#menu{
    text-align: left;
    
}    
#menu:hover{
    max-width: 800px;
    min-width: 280px;
    transform: translate(-3px, -3px);
    transition-duration: .3s;
    box-shadow: 3px 3px 3px 5px gray;
    border-radius: 8px;
    padding: 5px;
    background-color: #fff;
}




main{
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    background-color: #dddddd;
    padding: 20px;
    margin-top: 0px;
    box-shadow: 4px 4px 9px black;

    border-radius: 0px 0px 20px 20px;
    

}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    
}


#texto{
    display: flex;
}

#minha{
    width: 150px;
    height: 200px;
    border-radius: 30px;
    margin-left: 10px;

    
    
}
#minha:hover{
    width: 170px;
    height: 220px;
    transform: translate(-3px, -3px);
    transition-duration: .3s;


}


header {
    background: url(walppaper\ programador.jpg);
    color: #fff;
    padding-top: 11px ;
    padding-bottom: 0px;
    box-shadow: 4px 4px 9px black;

    
}

header h1 {
    font-size: 40px;
    margin-left: 20px;
    font-family: var(--font-work);
    text-align: center;
    margin-top: 60px;
}

header p {
    
    margin: 10px 0;
    text-align: center;
}

section {
    padding: 50px 0;
    
}
#sobre{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

}

#sobre:hover{
    max-width: 800px;
    min-width: 280px;
    transform: translate(-3px, -3px);
    transition-duration: .3s;
    box-shadow: 3px 3px 3px 5px gray;
    
}

h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--font-work);
}

.experiencia-item, .educacao-item {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

}
.experiencia-item:hover{
    max-width: 800px;
    min-width: 280px;
    transform: translate(-3px, -3px);
    transition-duration: .3s;
    box-shadow: 3px 3px 3px 5px gray;
    
}
.educacao-item:hover{
    max-width: 800px;
    min-width: 280px;
    transform: translate(-3px, -3px);
    transition-duration: .3s;
    box-shadow: 3px 3px 3px 5px gray;
    
}

.experiencia-item h3, .educacao-item h3 {
    margin-top: 0;
    font-family: var(--font-karma);
    padding: 10px;
}

footer {
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    margin-bottom: 10px;
    color: white;
    background-color: #000000;
    padding: 5px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 9px rgb(255, 255, 255);
    text-align: center;
    
    font-family: var(--font-karma);
}

footer p {
    margin: 0;
    
}

.fa-envelope {
    margin-right: 5px;
    
}
