@charset "UTF-8";

:root{
    --cor0: #8FC1B5;
    --cor1: #589A8D;
    --co2: #007566;
    --co3: #146551;
    --co4: #265C4B;


}

*{
    margin: 0%;
    padding: 0%;
    
    
}

html,body{
    background-color: rgb(206, 240, 206);
    
}


header{

    background-image: linear-gradient( to bottom, var(--co2), var(--cor1));
    text-align: center;
    padding: 40px;
    color: white;
    height: 100px;
    
}

header > h1{
    padding-top: 10px;
    padding-bottom: 20px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 10px;
    font-size: 25px;
    font-variant: small-caps ;
    padding-left: 30px; 
}

header > p > a{
    color: white;
    text-decoration: none;
    transition: .5s;
    padding-left: 25px;
}

header > p > a:hover{
    background-color: var(--cor0);
    border-radius: 6px;
}

.normal{
    background-color: rgb(65, 64, 64);
    color: white;
}

.imagem{
    background-color: rgb(245, 80, 80);

    
}

section.imagem > p{
    background-color: rgba(243, 173, 173, 0.384);
    width: 400px;

}

    


section{
    padding-top:10vh ;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
}

main{
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}










footer{
    background-color: var(--co4);
    color: white;
    text-align: center;
    height: 26px;
    min-width: 280px;
    max-width: 800px;
    font-size: 20px;
    border-radius: 10px ;
    margin: auto;
    margin-top: 20px;

}

footer > p > a{
    color: white;
    text-decoration: none;
    transition: .5s;
    font-size: 20px;
    
    

}

footer >  p > a:hover{
    background-color: var(--cor0);
    border-radius: 6px;
}



    
